@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
:root {
  --mainColor: #9f8730;
  --backgroundColor: #0b0b0b;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--backgroundColor);
  color: white;
  font-family: "Hind", sans-serif;
}

/* Responsive Typography */
html {
  width: 100vw;
  font-size: 13px;
}
header {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  padding: 0 40px;
  height: 16vh;
  color: white;
  width: 100vw;
  transition: all 0.2s ease-in;
  justify-content: center !important;
}
header > ul {
  display: none;
  justify-content: space-evenly;
  list-style: none;
}
.flex {
  display: flex;
}
.twenty_height {
  height: 25vh;
  justify-content: space-evenly !important;
}
/* Header Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 60%;
  height: 100%;
}
.ul_on_mobile {
  display: block !important;
}

.header > ul > li {
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
}
header > ul > li {
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
}
.header > ul > li > a {
  color: white;
  text-decoration: none;
}

.header > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--mainColor);
  transition: width 0.3s ease;
}
header > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--mainColor);
  transition: width 0.3s ease;
}

.header > ul > li:hover::after {
  width: 100%;
}

.header > ul > li:hover {
  color: var(--mainColor);
}
#contactanchor:hover {
  color: var(--mainColor);
}
header > ul > li:hover::after {
  width: 100%;
}

header > ul > li:hover {
  color: var(--mainColor);
}
#logo {
  height: 100px;
}
.hamburger {
  display: none;
  cursor: pointer;
}
/* Hero Section */
.main-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 101vh;
  background: url("images/blinds (1).jpg") center/cover no-repeat;
  filter: contrast(150%) brightness(50%) blur(4.5px);
  z-index: -9;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 87vh;
  color: white;
}

.details h2 {
  color: var(--mainColor);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  font-size: 3.2rem;
  font-weight: 200;
  text-shadow: 2px 2px 2px #0b0b0b;
}

/* Two Cards Section */
.two_cards {
  height: 100vh;
  position: relative;
}

.card1,
.card2 {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  height: 60vh;
  width: 48vw;
}

.card1 {
  transform: translate(-90%, -45%);
  background: url("images/pexels-steve-851238.webp") center/cover no-repeat;
  filter: brightness(40%);
}

.card2 {
  transform: translate(-10%, -55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

.card2image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/pexels-steve-845248.webp") center/cover no-repeat;
  filter: brightness(20%);
  border-radius: 15px;
}

.card2 h2 {
  font-weight: 500;
  text-align: justify;
  color: white;
  position: relative;
  z-index: 999;
}

.card2 button {
  width: 60%;
  height: 55px;
  font-size: 1.2rem;
  background-color: var(--mainColor);
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 999;
  transition: all 0.2s linear;
}
.card2 button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Slider Section */
.swiper {
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}

.card-list .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 35px;
  min-height: 400px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  user-select: none;
}

.card-list .card-item .customer-blinds,
.card-list .card-item .review {
  height: 50%;
  width: 100%;
}

.card-list .card-item .review {
  text-align: justify;
}

.card-list .card-item .reviewby {
  width: 100%;
  background-color: var(--mainColor);
  border: none;
  height: 60px;
  font-size: 1.5rem;
  transition: all 0.2s linear;
}
.card-list .card-item .reviewby:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button {
  width: 100%;
  background-color: var(--mainColor);
  border: none;
  height: 60px;
  font-size: 1.5rem;
  transition: all 0.2s linear;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #fff;
  margin-top: -55px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #4658ff;
}

.info-cards {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.couple {
  display: flex;
  width: 50%;
}
.couple > div {
  width: 50%;
}
.info-cards > div {
  height: 40vh;
  width: 90vw;
  display: flex;
}
.couple {
  background-color: #202020;
}
.cardschild {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}
.cardschild h1 {
  font-size: 1.1rem;
  color: white;
}
.uppercards1,
.uppercards3,
.lowercards2,
.lowercards4 {
  background-size: cover;
  background-position: center;
}
.uppercards1 {
  background-image: url(images/CUSTOM-DESIGNS-1.webp);
}
.uppercards3 {
  background-image: url(images/shutterstock_2010462515-min-1-scaled.webp);
}
.lowercards2 {
  background-image: url(images/HIGH-QUALITY-TURKISH-1.webp);
}
.lowercards4 {
  background-image: url(images/shutterstock_2340581693-min-1-scaled.webp);
}
.uppercards1:hover {
  filter: brightness(70%);
}

.info-cards > div > .cardschild {
  width: 33%;
}

.best-blinds {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/empty-room.webp);
  background-attachment: fixed;
  background-size: cover;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
  font-size: 2rem;
  flex-direction: column;
}
.best-blinds > h1 {
  font-weight: 400;
}
.best-blinds > .button {
  width: 30%;
}
#sh1 {
  font-weight: 800;
}

.faq {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--mainColor);
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--mainColor);
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: var(--mainColor);
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 15px;
  }
  header {
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  .info-cards > div {
    width: 95%;
  }
  .cardschild h1 {
    font-size: 1rem;
  }
  .cardschild p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .two_cards {
    height: 100vh;
  }

  .card2 {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -55%);
    border-radius: 0;
  }

  .card2image {
    border-radius: 0;
  }

  .card1 {
    display: none;
  }

  .slider-wrapper {
    margin: 0 20px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }
  q.review {
    font-size: 1.5rem;
  }
  .info-cards {
    height: 300vh;
  }
  .info-cards > div {
    height: 50%;
    width: 100%;
  }
  .uppercards,
  .lowercards {
    justify-content: space-evenly;
  }
  .best-blinds {
    text-align: center;
  }
  .couple {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 48%;
    justify-content: space-evenly;
  }

  .couple div {
    width: 100%;
    height: 40%;
  }
  .lowercards > .couple {
    flex-direction: column-reverse;
  }
  .cardschild h1 {
    font-size: 2rem;
  }
  .cardschild p {
    font-size: 1.2rem;
  }
  .faq {
    width: 90%;
    padding: 2rem;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 14px;
  }
  .header > ul {
    display: none !important;
  }
  .hamburger {
    display: block !important;
    font-size: 2rem;
  }
  header {
    padding: 0 1.2rem 0 0.5rem;
  }
  .hero {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    margin-bottom: 10vh;
  }
  .hero img {
    width: 50% !important;
    min-width: 200px;
  }
  .swiper {
    margin-bottom: 20vh;
  }
  .card-list .card-item {
    padding: 15px;
  }
  q.review {
    font-size: 1rem;
  }
  .details h2 {
    font-size: 2.5rem;
  }
  .info-cards {
    margin-bottom: 10vh;
  }
  .info-cards > div {
    width: 100%;
    flex-direction: column;
  }
  .card2image {
    filter: contrast(150%) brightness(25%) blur(4.5px);
  }
  .couple {
    width: 100%;
  }
  .faq {
    width: 95%;
    padding: 0.5rem;
  }
  .btn-1 {
    width: 40% !important;
    margin-left: 32% !important;
  }
}
